.gallery-body {
	@include flexy($justify: space-around);
	align-items: center;
	height: 250vh;
	@include transition(.4s);

	@media screen and (min-width: 700px) {
		height: 100vh;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

.feature-nav {
	display: none;

	@media screen and (min-width: 700px) {
		display: flex;
		width: 100%;
		background: $dark-grey;
		height: 20vh;
		justify-content: space-around;
		align-items: center;
	}
}

.feature-icon {
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
	background: rgba($dark-grey, 0.8);
	@include center-flex;

	@media screen and (min-width: 700px) {
		width: 6vw;
		height: 6vw;
	}


	&:hover {
		@include icon-grow;
	}


	img {
		max-width: 60%;
		&:hover {
			@include icon-turn;
		}
	}
}

@each $gallery in raft, basecamp, canoe, custom, photo, backpack {
	.#{$gallery} {
		@include gallery-item($gallery);
	}
}	

.feature-title {
	@include flexy;
	align-self: flex-end;
	order: -1;
	flex: .5 .5 10%;
	hr {
		width: 80px;
		height: 1vh;
		background: $brand-color;
		border: none;
		margin: 1em 1em 0;

		@media screen and (min-width: 700px) {
			width: 100px;
		}
	}

	h2 {
		padding-left: .75em;
		color: $text-color-light;

		@media screen and (min-width: 950px) {
			font-size: 1em;
		}
	}
}
